.about-us-wrapper {
    .about-us-item {
        display: flex;
        justify-content: space-around;
        margin: 40px 10px 0;

        .text-align-right {
            text-align: right;
            margin-right: 7px;
        }

        .text-align-left {
            text-align: left;
            margin-left: 7px;
        }

        .description {
            align-self: center;
            width: 40%;

            h2 {
                color: #222222;
                font-family: $main-font;
                font-size: 14px;
                text-transform: uppercase;
            }

            h3 {
                color: #222222;
                font-family: $main-font;
                font-size: 12px;
            }

            p {
                color: grey;
                font-family: $pharagraph;
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }

    .about-us-img {
        align-self: center;

        img {
            width: 182px;
        }
    }

    .story-continues {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 75px auto 40px;
        width: 189px;
        height: 189px;
        border: 7px solid #f1f1f1;
        border-radius: 50%;
        background-color: $yellow;

        p {
            text-align: center;
            width: 107px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
            color: #ffffff;
            font-family: $main-font;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 768px) {
    .about-us-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;


        .about-us-item {
            display: flex;
            margin: 60px auto 0;
            width: 100%;

            .description {
                max-width: 30%;
                position: absolute;

                h2 {
                    font-size: 18px;
                }

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }

            .description-even {
                right: 30px;
            }

            .description-odd {
                left: 30px;
            }
        }

        .about-us-img {
            display: flex;
            margin: 0 auto;

            img {
                border: 7px solid #f1f1f1;
                border-radius: 50%;
            }
        }
    }
}

@media(min-width: 1024px) {
    .about-us-wrapper {

        .about-us-item {
            // margin-bottom: 93px;

            .description {
                width: 306px;
            }

            .description-even {
                right: 80px;
            }

            .description-odd {
                left: 80px;
            }
        }

        .story-continues {
            margin-bottom: 120px;
        }
    }
}

@media(min-width: 1224px) {
    .about-us-wrapper {
        .about-us-item {
            .description-even {
                right: 150px;
            }

            .description-odd {
                left: 150px;
            }
        }
    }
}

@media(min-width: 1440px) {
    .about-us-wrapper {
        .about-us-item {
            .description-even {
                right: 250px;
            }

            .description-odd {
                left: 250px;
            }
        }
    }
}

@media(min-width: 1824px) {
    .about-us-wrapper {
        .about-us-item {
            .description-even {
                right: 450px;
            }

            .description-odd {
                left: 450px;
            }
        }
    }
}