.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
        color: #555555;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        margin: 34px 0 10px;
    }

    .social-media {
        justify-content: center;

        .fab {
            color: #fff;
            background-color: #000;
            border: 2 solid #000;
            margin: 0 10px;
        }
    }
}

@media (min-width: 1024px) {
    .footer-wrapper {
        flex-direction: row;
        position: relative;

        p {
            position: absolute;
            margin: auto;
            top: 50%;
            left: 230px;
        }

        .social-media {
            .fab {
                margin-top: 30px;
            }

            .fab:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
}