.portfolio-wrapper {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;


    .title-wrapper {
        margin-top: 40px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // width: 50%;
    }
}