.services {
    display: flex;
    flex-direction: column;

    .services-list-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 40px 40px;

        .fas {
            border: 3px solid $yellow;
            border-radius: 50%;
            color: $yellow;
            font-size: 30px;
        }

        h3 {
            font-family: $main-font;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 0 10px;
        }

        p {
            color: grey;
            font-family: $pharagraph;
            font-size: 14px;
            font-weight: 400;
        }

        .service {
            text-align: center;
            margin-top: 30px;
        }

        .e-commerce {
            .fa-shopping-basket {
                padding: 16px;
            }
        }

        .responsive-web {
            .fa-laptop {
                padding: 16px 14px;
            }
        }

        .web-security {
            .fa-lock {
                padding: 16px 21px;
            }
        }
    }
}

@media (min-width: 360px) {
    .services {
        .services-title p {
            font-size: 16px;
        }

        .services-list-wrapper {
            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    .services {
        .services-list-wrapper {
            margin: 0 125px 40px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }

            .service {
                margin-top: 40px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .services {
        max-width: 1402px;
        margin: 0 auto;

        .services-list-wrapper {
            flex-direction: row;
            justify-content: space-around;
            margin: 45px auto 118px;
            max-width: 89%;

            .fas {
                border: 3px solid $yellow;
                border-radius: 50%;
                color: $yellow;
                font-size: 30px;
            }

            h3 {
                font-family: $main-font;
                font-size: 18px;
                font-weight: 700;
                margin: 15px 0 10px;
            }

            p {
                font-size: 14px;
                line-height: 1.4;
            }

            .service {
                margin: 30px 0;
                width: 26%;
            }
        }
    }
}