.services {
    display: flex;
    flex-direction: column;
    text-align: center;

    .services-title {
        h1 {
            text-transform: uppercase;
            font-family: $main-font;
            font-size: 27px;
            font-weight: 700;
            margin: 40px 0 10px;
        }

        p {
            color: grey;
            font-family: "Droid Serif";
            font-size: 16px;
        }
    }

    .services-list-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 40px 40px;

        .fas {
            border: 3px solid $yellow;
            border-radius: 50%;
            color: $yellow;
            font-size: 30px;
        }

        h3 {
            font-family: $main-font;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 0 10px;
        }

        p {
            color: grey;
            font-family: $pharagraph;
            font-size: 14px;
            font-weight: 400;
        }

        .service {
            margin-top: 30px;
        }

        .e-commerce {
            .fa-shopping-basket {
                padding: 16px;
            }
        }

        .responsive-web {
            .fa-laptop {
                padding: 16px 14px;
            }
        }

        .web-security {
            .fa-lock {
                padding: 16px 21px;
            }
        }
    }
}

@media (min-width: 360px) {
    .services {
        .services-title p {
            font-size: 19px;
        }

        .services-list-wrapper {
            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    .services {
        .services-title {
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 30px;
            }


        }

        .services-list-wrapper {
            margin: 0 125px 40px;

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 25px;
            }

            .service {
                margin-top: 40px;
            }
        }
    }
}