.team-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #f9f9f9;

    .title-wrapper {
        margin-top: 40px;
    }

    .team-member-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 40px auto 0;

        .team-member {

            .img-zoom {
                border-radius: 50%;

                img {
                    width: 221px;
                    height: 221px;
                    border-radius: 50%;
                }
            }

            h4 {
                color: #222222;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                margin-top: 20px;
            }

            p {
                color: grey;
                font-family: $pharagraph;
                font-size: 14px;
                font-weight: 400;
                margin-top: 5px;
            }

            .social-media {
                display: flex;
                justify-content: space-around;
                width: 70%;
                margin: 5px auto 25px;

                .fab {
                    width: 20px;
                    height: 16px;
                    color: #222222;
                    border: 3px solid #222222;
                    border-radius: 50%;
                    padding: 20px;
                }

                .fa-twitter::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 8px);
                }

                .fa-facebook-f::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - (8.25px / 2));
                }

                .fa-pinterest-p::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 6px);
                }
            }
        }
    }

    .title-wrapper-team {
        margin: 0 auto 40px;
        width: 80%;
    }
}

@media(min-width: 1024px) {
    .team-wrapper {
        .title-wrapper {
            margin-top: 120px;
        }

        .team-member-wrapper {
            flex-direction: row;
            justify-content: space-around;
            width: 75%;
            margin-top: 83px;

            .img-zoom {
                overflow: hidden;
                cursor: pointer;

                img {
                    transition: transform .5s ease;
                }
            }

            .img-zoom:hover img {
                transform: scale(1.1);
                filter: brightness(110%);
            }

            .social-media {
                .fab {
                    cursor: pointer;
                }

                .fab:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }

        .title-wrapper-team {
            margin: 50px auto 117px;
            width: 55%;
        }
    }
}