.team-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #f9f9f9;


    .title-wrapper {
        margin-top: 40px;
    }

    .team-member-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 40px auto 0;

        .team-member {
            img {
                width: 221px;
                height: 221px;
                border-radius: 50%;
            }

            h4 {
                color: #222222;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                margin-top: 20px;
            }

            p {
                color: grey;
                font-family: $pharagraph;
                font-size: 14px;
                font-weight: 400;
                margin-top: 5px;
            }

            .social-media {
                display: flex;
                justify-content: space-around;
                width: 70%;
                // align-items: center;
                margin: 5px auto 25px;

                .fab {
                    width: 20px;
                    height: 16px;
                    color: #222222;
                    border: 3px solid #222222;
                    border-radius: 50%;
                    padding: 20px;
                }

                .fa-twitter::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 8px);
                }

                .fa-facebook-f::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - (8.25px / 2));
                }

                .fa-pinterest-p::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 6px);
                }

                .fab:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }

    .title-wrapper-team {
        margin: 0 auto 40px;
        width: 80%;
    }
}