.team-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    // margin: 0 auto;

    .team-member-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        // width: 25%;

        .team-member {
            h4 {
                color: #222222;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
            }

            p {
                color: grey;
                font-family: $pharagraph;
                font-size: 14px;
                font-weight: 400;
            }

            .social-media {
                display: flex;
                justify-content: center;
                align-items: center;

                .fab {
                    width: 20px;
                    height: 16px;
                    color: #222222;
                    border: 3px solid #222222;
                    border-radius: 50%;
                    padding: 20px;
                }

                .fa-twitter::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 8px);
                }

                .fa-facebook-f::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - (8.25px / 2));
                }

                .fa-pinterest-p::before {
                    position: relative;
                    top: calc(50% - 8px);
                    left: calc(50% - 6px);
                }
            }
        }
    }
}