.btn {
    margin: 0 auto;
    width: 240px;
    height: 65px;
    background-color: $yellow;
    border-radius: 5px;
    color: #ffffff;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background-color: $yellow-hover;
}