.title {
    color: #222222;
    font-family: $main-font;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.sub-title {
    color: grey;
    font-family: "Droid Serif";
    font-size: 16px;
}