// colors
$yellow: #fed136;
$yellow-hover: #ecbc0f;
$black: #222;
$grey: #777;

//fonts
$main-font: 'Montserrat',
sans-serif;
$sub-title: 'Oleo Script',
cursive;
$pharagraph: "Roboto Slab",
sans-serif;